<!--
  Generated template for the ResidentDetailFacesheet page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="residents-primary">
    <ion-buttons left>
      <button ion-button clear icon-only (click)="goBack()">
        <custom-icon set="mdIcons" name="arrow_back"></custom-icon>
      </button>
    </ion-buttons>
    <ion-title>{{resident.firstName | ucfirst}} {{resident.lastName | ucfirst}}</ion-title>
  </ion-navbar>

  <ion-segment mode="md" [(ngModel)]="facesheetTabButton" color="residents-primary">
    <ion-segment-button value="general">
      GENERAL
    </ion-segment-button>
    <ion-segment-button value="medical">
      MEDICAL
    </ion-segment-button>
    <ion-segment-button value="contacts">
      CONTACTS
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content [ngSwitch]="facesheetTabButton">

  <!--General Information-->
  <div *ngSwitchCase="'general'">
    <ion-card class="info-card">
      <!--Card Header-->
      <ion-item class="card-header">
        <h2 class="title">Basic Information</h2>
        <button ion-button clear icon-only item-right (click)="editBasicInfo(resident)">
          <custom-icon set="mdIcons" name="edit"></custom-icon>
        </button>
      </ion-item>
      <!--Card Banner-->
      <div class="banner">
        <ion-grid>
          <ion-row>
            <img *ngIf="resident.profileUrl" [src]="resident.profileUrl" class="avatar">
            <ion-avatar *ngIf="!resident.profileUrl">
              <img class="avatar" *ngIf="resident.gender === 'male'" src="assets/avatars/avatar-5.svg">
              <img class="avatar" *ngIf="resident.gender === 'female'" src="assets/avatars/avatar-9.svg">
            </ion-avatar>
          </ion-row>
          <ion-row>
            <h3 class="header-text">
              {{resident.firstName | ucfirst}} {{resident.middleName | ucfirst}} {{resident.lastName | ucfirst}}
            </h3>
          </ion-row>
        </ion-grid>
      </div>
      <!--Card Content-->
      <ion-card-content>
        <!--Date of Birth-->
        <ion-row>
          <ion-col>
            <p>Date of Birth</p>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <p>
              {{ this.resident.birthDate ? (this.resident.birthDate | amDateFormat:'MM/DD/YYYY') : '-' }}
            </p>
          </ion-col>
        </ion-row>
        <!--Gender-->
        <ion-row>
          <ion-col>
            <p>Gender</p>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <p>{{ this.resident.gender ? (this.resident.gender | ucfirst) : '-' }}</p>
          </ion-col>
        </ion-row>
        <!--SSN-->
        <ion-row>
          <ion-col>
            <p>SSN</p>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <p>{{ this.resident.ssn ? this.resident.ssn : '-' }}</p>
          </ion-col>
        </ion-row>
        <!--Religion-->
        <ion-row>
          <ion-col>
            <p>Religion</p>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <p>{{ this.resident.religion ? this.resident.religion : '-' }}</p>
          </ion-col>
        </ion-row>
        <!--Ambulatory-->
        <ion-row>
          <ion-col>
            <p>Ambulatory?</p>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <p>{{ this.resident.isAmbulatory | yesOrNo }}</p>
          </ion-col>
        </ion-row>
        <!--Verbal-->
        <ion-row>
          <ion-col>
            <p>Verbal?</p>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <p>{{ this.resident.isVerbal | yesOrNo }}</p>
          </ion-col>
        </ion-row>
        <!--Code-->
        <ion-row>
          <ion-col>
            <p>Code</p>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <p>{{ this.resident.code }}</p>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>


    <!--Facility Card-->
    <ion-card class="info-card">
      <ion-item class="card-header">
        <h2 class="title">Facility Information</h2>
        <button ion-button clear icon-only item-right *ngIf="facilityInfo">
          <custom-icon set="mdIcons" name="edit"></custom-icon>
        </button>
        <button ion-button clear icon-only item-right *ngIf="!facilityInfo">
          <custom-icon set="mdIcons" name="add"></custom-icon>
        </button>
      </ion-item>
      <ion-card-content class="card-content" *ngIf="facilityInfo">
        <ion-row>
          <ion-col>
            <p>Facility Name</p>
          </ion-col>
          <ion-col>
            <p>{{facilityInfo.name ? facilityInfo.name : '-'}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Admission Date</p>
          </ion-col>
          <ion-col>
            <p>{{facilityInfo.admissionDate ? (facilityInfo.admissionDate | amDateFormat:'MM/DD/YYYY') : '-'}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Room</p>
          </ion-col>
          <ion-col>
            <p>{{facilityInfo.room ? facilityInfo.room : '-'}}</p>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>

    <!--Payment Card-->
    <ion-card class="info-card">
      <ion-item class="card-header">
        <h2 class="title">Payment Information</h2>
        <button ion-button clear icon-only item-right *ngIf="paymentInfo">
          <custom-icon set="mdIcons" name="edit"></custom-icon>
        </button>
        <button ion-button clear icon-only item-right *ngIf="!paymentInfo">
          <custom-icon set="mdIcons" name="add"></custom-icon>
        </button>
      </ion-item>
      <ion-card-content class="card-content" *ngIf="paymentInfo">
        <ion-row>
          <ion-col>
            <p>Rate</p>
          </ion-col>
          <ion-col>
            <p>{{paymentInfo.rate ? (paymentInfo.rate | currency:'USD':true) : '-'}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Method</p>
          </ion-col>
          <ion-col>
            <p>{{paymentInfo.method ? (paymentInfo.method | ucfirst) : '-'}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Bill To</p>
          </ion-col>
          <ion-col>
            <p>{{paymentInfo.billTo ? (paymentInfo.billTo | ucwords) : '-'}}</p>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>

    <!--Weight Log Card-->
    <ion-card class="info-card">
      <ion-item class="card-header">
        <h2 class="title">Weight Log</h2>
        <button ion-button clear icon-only item-right>
          <custom-icon set="mdIcons" name="edit"></custom-icon>
        </button>
      </ion-item>
      <ion-card-content class="card-content" *ngIf="resident.weightLog">
        <ion-row class="table-header">
          <ion-col>
            Date
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            Weight
          </ion-col>
        </ion-row>
        <ion-row class="tabel-row" *ngFor="let record of resident.weightLog">
          <ion-col>
            <p>{{record.date ? (record.date | amDateFormat:'MM/DD/YYYY') : '-'}}</p>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <p>{{record.weight ? record.weight : '-'}}</p>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>
  </div>

  <!--Medical Information-->
  <div *ngSwitchCase="'medical'">
    <ion-card class="info-card">
      <ion-item class="card-header">
        <h2 class="title">Medical History</h2>
        <button ion-button clear icon-only item-right>
          <custom-icon set="mdIcons" name="add"></custom-icon>
        </button>
      </ion-item>

    </ion-card>

    <ion-card class="info-card">
      <ion-item class="card-header">
        <h2 class="title">Allergies</h2>
        <button ion-button clear icon-only item-right>
          <custom-icon set="mdIcons" name="add"></custom-icon>
        </button>
      </ion-item>
    </ion-card>

    <ion-card class="info-card">
      <ion-item class="card-header">
        <h2 class="title">Insurance Information</h2>
        <button ion-button clear icon-only item-right>
          <custom-icon set="mdIcons" name="add"></custom-icon>
        </button>
      </ion-item>
    </ion-card>

    <ion-card class="info-card">
      <ion-item class="card-header">
        <h2 class="title">Medical Events</h2>
        <button ion-button clear icon-only item-right>
          <custom-icon set="mdIcons" name="add"></custom-icon>
        </button>
      </ion-item>
    </ion-card>

  </div>

  <!--Contacts-->
  <div *ngSwitchCase="'contacts'">
    <!--Emergency Contact Card-->
    <ion-card class="info-card">
      <ion-item class="card-header">
        <h2 class="title">Emergency Contacts</h2>
        <button ion-button clear icon-only item-right>
          <custom-icon set="mdIcons" name="edit"></custom-icon>
        </button>
      </ion-item>
      
      <accordion multi="true">
        <panel displayMode="flat" *ngFor="let contact of resident.emergencyContacts; let i=index">
          <!-- Contact Panel Header -->
          <ng-container panel-header-content>
            <h3 class="title" >{{ contact.firstName }} {{ contact.lastName }}</h3>
            <p class="subtitle">{{ contact.relationship }}</p>
          </ng-container>
          <!-- Contact Action Buttons -->
          <panel-body-actions left>
            <button ion-button clear icon-only *ngIf="contact.phoneNumbers" (click)="callContact(contact)">
              <custom-icon set="mdIcons" name="phone" color="money"></custom-icon>
            </button>
            <button ion-button clear icon-only *ngIf="contact.phoneNumbers[0].type === 'mobile'" (click)="textContact(contact)">
              <custom-icon set="mdIcons" name="sms" color="contact-sms"></custom-icon>
            </button>
            <button ion-button clear icon-only *ngIf="contact.email" (click)="emailContact(contact)">
              <custom-icon set="mdIcons" name="email" color="contact-email"></custom-icon>
            </button>
          </panel-body-actions>
        </panel>
      </accordion>
    </ion-card>
    <!-- Physicians/Specialists -->
    <ion-card class="info-card">
      <ion-item class="card-header">
        <h2 class="title">Physicians/Specialists</h2>
        <button ion-button clear icon-only item-right>
          <custom-icon set="mdIcons" name="add"></custom-icon>
        </button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>