<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>306173730422-9rs5jbp2bvljslare0t4fhuc8vb7rmjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306173730422-9rs5jbp2bvljslare0t4fhuc8vb7rmjr</string>
	<key>API_KEY</key>
	<string>AIzaSyDdklutqVla7ZyffZZPzspekd_H4uOLJPw</string>
	<key>GCM_SENDER_ID</key>
	<string>306173730422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alcomy.ios</string>
	<key>PROJECT_ID</key>
	<string>alcomydev1</string>
	<key>STORAGE_BUCKET</key>
	<string>alcomydev1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:306173730422:ios:c857a86562bbd3be</string>
	<key>DATABASE_URL</key>
	<string>https://alcomydev1.firebaseio.com</string>
</dict>
</plist>