@font-face {
  font-family: "MdIcons";
  src: url('../assets/fonts/MdIcons.eot');
  src: url('../assets/fonts/MdIcons.eot?#iefix') format('eot'),
  url('../assets/fonts/MdIcons.woff2') format('woff2'),
  url('../assets/fonts/MdIcons.woff') format('woff'),
  url('../assets/fonts/MdIcons.ttf') format('truetype'),
  url('../assets/fonts/MdIcons.svg#MdIcons') format('svg');
}

@mixin mdIcons-styles {
  font-family: "MdIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%mdIcons {
  @include mdIcons-styles;
}

@function mdIcons-char($filename) {
  $char: "";

  @if $filename == account_circle {
  $char: "\E001";
}
  @if $filename == assignment_turned_in {
  $char: "\E002";
}
  @if $filename == business {
  $char: "\E003";
}
  @if $filename == dashboard {
  $char: "\E004";
}
  @if $filename == face {
  $char: "\E005";
}
  @if $filename == healing {
  $char: "\E006";
}
  @if $filename == local_pharmacy {
  $char: "\E007";
}
  @if $filename == message {
  $char: "\E008";
}
  @if $filename == people {
  $char: "\E009";
}
  @if $filename == remove_red_eye {
  $char: "\E00A";
}
  @if $filename == sms_failed {
  $char: "\E00B";
}

@return $char;
}

@mixin mdIcons($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %mdIcons;
  } @else {
    @include mdIcons-styles;
  }
  content: mdIcons-char($filename);
}
}

.mdIcons-account_circle {
  @include mdIcons(account_circle);
}
.mdIcons-assignment_turned_in {
  @include mdIcons(assignment_turned_in);
}
.mdIcons-business {
  @include mdIcons(business);
}
.mdIcons-dashboard {
  @include mdIcons(dashboard);
}
.mdIcons-face {
  @include mdIcons(face);
}
.mdIcons-healing {
  @include mdIcons(healing);
}
.mdIcons-local_pharmacy {
  @include mdIcons(local_pharmacy);
}
.mdIcons-message {
  @include mdIcons(message);
}
.mdIcons-people {
  @include mdIcons(people);
}
.mdIcons-remove_red_eye {
  @include mdIcons(remove_red_eye);
}
.mdIcons-sms_failed {
  @include mdIcons(sms_failed);
}