<!--Header-->
<ion-header>
  <ion-toolbar color="dashboard-primary">
    <ion-title class="text-center">
      Notifications
    </ion-title>

    <ion-segment mode="md" [(ngModel)]="notificationButtons" color="white">
      <ion-segment-button value="all">
        ALL
        <span>(5)</span>
      </ion-segment-button>
      <ion-segment-button value="alerts">
        <ion-icon name="warning"></ion-icon>
        <span>(3)</span>
      </ion-segment-button>
      <ion-segment-button value="reminders">
        <ion-icon name="alarm"></ion-icon>
        <span>(1)</span>
      </ion-segment-button>
      <ion-segment-button value="messages">
        <custom-icon set="mdIcons" name="message"></custom-icon>
        <span>(1)</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content [ngSwitch]="notificationButtons">

  <!--All Notifications-->

  <accordion multi="true" displayMode="flat" *ngSwitchDefault>
    <panel [title]="n.data.title" [summary]="n.data.summary" *ngFor="let n of notifications">
      <custom-icon panel-icon set="mdIcons" name="remove_red_eye"></custom-icon>
      <div panel-content>
        <ng-template notification-widget></ng-template>
      </div>
      <panel-actions>
        <button ion-button clear color="dashboard-primary">Details</button>
      </panel-actions>
    </panel>
  </accordion>

  <accordion *ngSwitchCase="'alerts'"></accordion>
  <accordion *ngSwitchCase="'reminders'"></accordion>
  <accordion *ngSwitchCase="'messages'"></accordion>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>






<!-- <ion-list *ngSwitchDefault>
    <div *ngFor="let n of notifications">
      <button ion-item no-lines detail-none>
        <custom-icon *ngIf="n.source === 'medications'" set="mdIcons" name="local_pharmacy" item-left></custom-icon>
        <custom-icon *ngIf="n.source === 'watchlist'" set="mdIcons" name="remove_red_eye" item-left></custom-icon>

        <div class="notification-item-title">
          {{ n.data.title }}
        </div>

        <div class="notification-item-details">
          <p *ngIf="n.source === 'medications'">3 residents need their medications soon.</p>
          <p *ngIf="n.source === 'watchlist' && n.event === 'BM'">It's been {{n.data.lastBM | amTimeAgo:true}} since {{n.data.createdFor}} has had a bowl movement.</p>
          <p *ngIf="n.source === 'watchlist' && n.event === 'ITEM_CREATE'">{{n.data.createdBy}} created a new watch item for {{n.data.createdFor}}</p>
        </div>

        <button ion-button icon-only clear color="dark-text-54" (click)="expand()" item-right>
          <custom-icon set="mdIcons" name="expand_more" *ngIf="!isExpanded"></custom-icon>
          <custom-icon set="mdIcons" name="expand_less" *ngIf="isExpanded"></custom-icon>
        </button>
      </button>
      <ion-item *ngIf="isExpanded" no-lines class="hidden-content">
        <div>
          lskdfowif lksfj lsj flaksjf ls fks fksj flasdfad faf f sf fkajpfaowjf alfj oijfw. lskdfowif lksfj lsj flaksjf ls fks fksj
          flasdfad faf f sf fkajpfaowjf alfj oijfw.
        </div>
      </ion-item>

    </div>


  </ion-list>

  <!-- Alerts List --
  <ion-list *ngSwitchCase="'alerts'">
    <button ion-item detail-none>
        Reminder 1
      </button>
    <button ion-item detail-none>
        Reminder 2
      </button>
    <button ion-item detail-none>
        Reminder 3
      </button>
  </ion-list>

  <!-- Reminders List --
  <ion-list *ngSwitchCase="'reminders'">
    <button ion-item detail-none>
        Reminder 1
      </button>
    <button ion-item detail-none>
        Reminder 2
      </button>
    <button ion-item detail-none>
        Reminder 3
      </button>
  </ion-list>

  <!-- Messages List --
  <ion-list *ngSwitchCase="'messages'">
    <button ion-item detail-none>
        Message 1
      </button>
    <button ion-item detail-none>
        Message 2
      </button>
    <button ion-item detail-none>
        Message 3
      </button>
  </ion-list> -->