notification-menu {
  // ion-item.item.item-block, .item-inner, .label {
  //   padding: 0;
  //   margin: 0;
  //   border: none;
  // }
  
  .segment-button {
    span, ion-badge {
      position: absolute;
      right: 5px;
    }
  }

  .text-center {
    text-align: center;
  }

  // This is a temporary hack so that the header doesn't cut off part of the content.
  ion-header  {
    position: relative;
  }

  // this is a hack to correct the issue where ion-content
  // doesn't calculate and add margins to compensate for the
  // header and footer height.
  .scroll-content {
    margin-top: 0;
    margin-bottom: 56px;
  }
}
