<!--Panel Header-->
<div class="panel-header">

  <ng-content select="[panel-header-left]"></ng-content>

  <div class="panel-header-info">
    <ng-content select="[panel-header-title]"></ng-content>
    <ng-content select="[panel-header-summary]"></ng-content>
    <ng-content select="[panel-header-content]"></ng-content>
  </div>

  <ng-content select="[panel-header-right]"></ng-content>
  
  <div class="header-button" *ngIf="button">
    <button ion-button icon-only clear color="dark-text-54" (click)="expand()">
      <custom-icon set="mdIcons" name="expand_more" *ngIf="!isOpen"></custom-icon>
      <custom-icon set="mdIcons" name="expand_less" *ngIf="isOpen"></custom-icon>
    </button>
  </div>
</div>



<!-- Panel Body -->
<div class="panel-body" *ngIf="isOpen">
  <div class="panel-content">
    <ng-content select="[panel-body-content]"></ng-content>
  </div>
  <div class="panel-actions">
    <ng-content select="panel-body-actions"></ng-content>
  </div>
</div>


