@import "../../../theme/variables";

panel {
  display: block;
  border-bottom: 1px solid $dark-text-12;
  
  .panel-header {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
    background-color: $forground;
    position: relative;
    z-index: 4;

    [panel-header-left] {
      display: flex;
      align-items: center;
      padding-left: 16px;
      max-width: 56px;
    }

    custom-icon[panel-header-left] {
      display: flex;
      width: 56px;
      max-width: 56px;
      padding: 0 16px;
      align-items: center;
      font-size: 24px;
      
    }

    .panel-header-info {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-left: 16px;
      [header-title] {
        font-weight: 600;
        font-size: 16px;
        color: $dark-text-87
      }
      [header-summary] {
        font-size: 14px;
        color: $dark-text-54;
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.0rem;
        line-height: 1.5rem;
        margin-top: 1rem;
      }
    }

    .header-button {
      display: flex;
      padding-right: 16px;
      padding-left: 8px;
      align-items: center;
      button {
        width: 2.0rem;
        height: 2.0rem;
        margin: 0;

      }
      span.button-inner {
        width: 2.0rem;
        height: 2.0rem;
      }
      custom-icon {
        font-size: 2.0rem;
        &.alert {
          color: $alert;
        }
        &.reminder {
          color: $reminder;
        }
        &.message {
          color: $message;
        }
      }
    }
  }

  .panel-body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-align: justify;
    text-transform: none;
    background-color: $background;
    position: relative;

    .panel-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 56px;
      background-color: $forground;
      border-top: 1px solid $dark-text-12
    }
   
  }

  &.opened {
    &.gutter {
      .panel-header {
        box-shadow: $panel-shadow-umbra-2dp, $panel-shadow-penumbra-2dp;
      }
      .panel-actions {
        box-shadow: $panel-shadow-ambient-2dp;
      }
    }
    
    &.flat {
      .panel-header {
        border-bottom: none;
      }
      .panel-body {
        background-color: $forground;
      }
    }
  }


}
