<ion-header>
  <ion-navbar color="dashboard-primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{title}}</ion-title>

    <ion-buttons right>
      <!--Quick Add Button-->
      <button ion-button icon-only quickAdd>
        <ion-icon name="add"></ion-icon>
      </button>

      <!--Notifications Button-->
    <button ion-button icon-only menuButtonToggle="notifications" right>
      <custom-icon set="mdIcons" name="sms_failed"></custom-icon>
    </button>

    <!--More Menu Button-->
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    

  </ion-navbar>

  <!--Quick Add Task input and button-->
  <!--<ion-toolbar color="white">

    <ion-input #newTask placeholder="Add Quick Task" (keyup.enter)="addTask(newTask.value); newTask.value=null">
    </ion-input>

    <ion-buttons right>
      <button ion-button icon-only item-right clear="true" (click)="addTask(newTask.value); newTask.value=null">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>-->


  <task-header (quickTaskAdd)="onQuickTaskAdd($event)"></task-header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let task of tasks; let i = index">

      <button ion-item>
        <ion-checkbox color="dashboard-accent" [(ngModel)]="task.isComplete"></ion-checkbox>
        <ion-label>
          <p>
            {{task.description}}
          </p>
          <p class="task-item time" *ngIf="task.time">7:00am</p>
        </ion-label>
      </button>

      <ion-item-options side="left">
        <button color="danger" ion-button (click)="deleteTask(i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>
    
  </ion-list>

  <!--Add New Task FAB-->
  <ion-fab bottom right>
    <button ion-fab color="dashboard-accent" (click)="presentNewTaskFormPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
