<ion-header>
  <ion-navbar color="residents-primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{title}}</ion-title>

    <ion-buttons right>
      <!--Quick Add Button-->
      <button ion-button icon-only quickAdd>
        <ion-icon name="add"></ion-icon>
      </button>

      <!--Notifications Button-->
      <button ion-button icon-only menuButtonToggle="notifications" right>
      <custom-icon set="mdIcons" name="notifications"></custom-icon>
    </button>

      <!--Filter Button-->
      <button ion-button icon-only>
        <custom-icon set="mdIcons" name="tune"></custom-icon>
      </button>
    </ion-buttons>


  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="refreshResidents($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!--Resident LIst-->
  <ion-list>
    <button ion-item *ngFor="let resident of residents" (click)="goToDetails(resident)">
      <ion-avatar *ngIf="resident.profileUrl" item-left>
        <img [src]="resident.profileUrl">
      </ion-avatar>
      <ion-avatar *ngIf="!resident.profileUrl" item-left>
        <img *ngIf="resident.gender === 'male'" src="assets/avatars/avatar-5.svg">
        <img *ngIf="resident.gender === 'female'" src="assets/avatars/avatar-9.svg">
      </ion-avatar>
      
      <ion-label>
        {{ resident.firstName | ucfirst }} {{ resident.lastName | ucfirst }}
      </ion-label>

      <span class="indicator active" item-right></span>
    </button>
  </ion-list>


  <!--Create Resident Button-->
  <ion-fab bottom right>
    <button ion-fab color="residents-accent" (click)="openNewResidentModal()">
        <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>
</ion-content>