@mixin tabColor($color){
  .tabs {
    .tab-button[aria-selected=true], .tab-button[aria-selected=true] .tab-button-icon {
      color: $color;
    }

    &[tabsHighlight=true] .tab-highlight {
      background-color: $color;
    }

  }
}  

@mixin navbarWithSubtitle(){
  .toolbar-title {
    font-size: 1.6rem;
    .subtitle {
      font-family: "Roboto Regular", "Helvetica Neue", sans-serif;
      font-size: 75%;
      margin: 0;
    }
  }
}