// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";
@import "./material-colors";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$light-text: $mdc-text-dk-54;

$dark-text-87:$mdc-text-dk-87;
$dark-text-54:$mdc-text-dk-54;
$dark-text-38:$mdc-text-dk-38;
$dark-text-12:$mdc-text-dk-12;

$light-text-100:$mdc-text-lt-100;
$light-text-70:$mdc-text-lt-70;
$light-text-50:$mdc-text-lt-50;
$light-text-12:$mdc-text-lt-12;


$dashboard-primary: $mdc-light-blue-500;
$dashboard-accent: $mdc-pink-a200;

$residents-primary: $mdc-red-500;
$resident-accent: $mdc-light-blue-500;

$staff-primary: $mdc-amber-500;
$staff-accent: $mdc-cyan-a400;

$company-primary: $mdc-green-500;
$company-accent: $mdc-red-a400;

$messages-primary: $mdc-purple-500;
$messages-accent: $mdc-light-blue-a400;

$alcomy-toolbar: $mdc-grey-900;

$money: $mdc-green-500;

$colors: (
  primary:    $dashboard-primary,
  money:      $money,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #263238,
  white: white,



  dashboard-primary: $dashboard-primary,
  dashboard-accent: $dashboard-accent,
  
  residents-primary: $residents-primary,
  residents-accent: $resident-accent,

  staff-primary: $staff-primary,
  staff-accent: $staff-accent,

  company-primary: $company-primary,
  company-accent: $company-accent,

  alcomy-toolbar: $alcomy-toolbar,


  dark-text-87: $dark-text-87,
  dark-text-54: $dark-text-54,
  dark-text-38: $dark-text-38,
  dark-text-12: $dark-text-12,

  light-text-100: $light-text-100,
  light-text-70: $light-text-70,
  light-text-50: $light-text-50,
  light-text-12: $light-text-12
  
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$tabs-ios-tab-icon-color: #616161;
$tabs-ios-tab-text-color: #616161;
$tabs-ios-tab-opacity: .5;

$card-ios-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$tabs-md-tab-icon-color: #616161;
$tabs-md-tab-text-color: #616161;
$tabs-md-tab-opacity: .5;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$tabs-wp-tab-icon-color: #616161;
$tabs-wp-tab-text-color: #616161;
$tabs-ios-tab-opacity: .5;


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

$tabs-background: #212121;  

@import "ionic.theme.default";



// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
