// http://ionicframework.com/docs/v2/theming/
@import "../theme/variables";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

app-component {
    .toolbar {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    ion-menu#notifications {
        .segment-button span {
            position: absolute;
            right: 5px;
        }
    }

    ion-label .notification-item-details {
        margin-top: 10px;
        font-size: 14px;
        text-align: justify;
        text-transform: none;
    }
    ion-label .notification-item-title {
        font-weight: 600;
        font-size: 16px;
    }

}

.alc-fg-color.alc-dashboard-primary {
    color: $dashboard-primary;
}
.alc-fg-color.alc-residents-primary {
    color: $residents-primary;
}
.alc-fg-color.alc-staff-primary {
    color: $staff-primary;
}
.alc-fg-color.alc-company-primary {
    color: $company-primary;
}
.alc-fg-color.alc-messages-primary {
    color: $messages-primary;
}

ion-slides.card-slides {
    height: initial;
    .swiper-container, .swiper-slide, .swiper-wrapper, .swiper-slide, .swiper-pagination-progress .swiper-pagination-progressbar, .swiper-container-vertical > .swiper-pagination-progress,
    .swiper-container-3d .swiper-slide-shadow-left,
    .swiper-container-3d .swiper-slide-shadow-right,
    .swiper-container-3d .swiper-slide-shadow-top,
    .swiper-container-3d .swiper-slide-shadow-bottom,
    .swiper-container-cube .swiper-slide, .swiper-container-cube .swiper-cube-shadow, .swiper-zoom-container, .swiper-scrollbar-drag, .swiper-lazy-preloader:after {
        height: initial;
    }
}

.text-center {
    text-align: center;
}


.hidden-content ion-label {
    text-transform: none;
    font-size: 0.8em;
    padding: 1em 0;
    white-space: normal;
    text-align: justify;
}

