<ion-header>

  <ion-navbar color="company-primary">
    <ion-title>{{title}}</ion-title>
    <ion-buttons right>
      <!--Close Button-->
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <form [formGroup]="newFacilityForm" novalidate>
    <ion-list>
    <ion-list-header color="item-divider">Basic Info</ion-list-header>
    <!--Legal Name-->
    <ion-item>
      <ion-label floating>Legal Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <p class="form-error-message" ngxErrors="name" ngxError="required" when="touched">Legal Name Required</p>

    <!--Display Name-->
    <ion-item>
      <ion-label floating>Display Name</ion-label>
      <ion-input type="text" formControlName="displayName"></ion-input>
    </ion-item>

    <!--Facility Number-->
    <ion-item>
      <ion-label floating>Facility Number</ion-label>
      <ion-input type="text" formControlName="facilityNumber"></ion-input>
    </ion-item>
    <p class="form-error-message" ngxErrors="facilityNumber" ngxError="digits" when="touched">Facility Number can only contain digits</p>
    
    <!-- Status -->
    <ion-item>
      <ion-label floating>Status</ion-label>
      <ion-select formControlName="status">
        <ion-option *ngFor="let status of facilityStatuses" [value]="status">{{status | ucfirst}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item-divider color="item-divider">Address</ion-item-divider>
    <!-- Address Line 1 -->
    <ion-item>
      <ion-label floating>Address Line 1</ion-label>
      <ion-input type="text" formControlName="addressLine1"></ion-input>
    </ion-item>
    <!-- Address Line 2 -->
    <ion-item>
      <ion-label floating>Address Line 2</ion-label>
      <ion-input type="text" formControlName="addressLine2"></ion-input>
    </ion-item>
    <!-- City -->
    <ion-item>
      <ion-label floating>City</ion-label>
      <ion-input type="text" formControlName="city"></ion-input>
    </ion-item>
    <!-- State/Province -->
    <ion-item>
      <ion-label floating>State</ion-label>
      <ion-select formControlName="stateOrProvince">
        <ion-option *ngFor="let state of states" [value]="state">{{state | ucfirst}}</ion-option>
      </ion-select>
    </ion-item>
    <!-- Zip/Postal Code -->
    <ion-item>
      <ion-label floating>Zip/Postal Code</ion-label>
      <ion-input type="text" formControlName="postalCode"></ion-input>
    </ion-item>
    </ion-list>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <!--Form Buttons-->
    <ion-buttons right>
      <button ion-button color="primary" (click)="submit()">Save</button>
      <button ion-button color="dark-text-54" (click)="close()">Cancel</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>