@import '../../../theme/material-colors';

card-slider {
  display: block;
  box-sizing: border-box;
  .card-indicator-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .card-indicator {
      display: inline-block;
      margin: 0 2px;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 1px solid $mdc-grey-500;

      &.active {
          border-color: $mdc-grey-600;
          border-width: 0.2rem;
      }

    }

}

