<ion-card class="prn-card">
  <ion-grid>
    <ion-row center>

      <ion-col>
        <h2>{{prn.medication.brandName}}</h2>
        <p class="subheader"><i>{{prn.medication.genericName}}</i></p>
        <p class="label">Given by <i>{{prn.givenBy.firstName}} {{prn.givenBy.lastName}}</i></p>
        <p class="label">{{prn.givenAt | amCalendar}}</p>
      </ion-col>

      <button ion-button outline small="true" (click)="presentPrnResponse()">
        RESPONSE
      </button>

    </ion-row>
  </ion-grid>
</ion-card>